.slider{
    background: url(img/16.jpg);
    background-size: cover;
    background-position: center;
    min-height: 1000px;
    animation: slide 20s infinite;
}
@media screen and (max-width: 670px){
    header{
      min-height: 500px;
    }
}
.section{
    padding-top: 4vw;
    padding-bottom: 4vw;
}
.tabs .indicator{
    background-color: #1a237e;
}
.tabs .tab a:focus, .tabs .tab a:focus.active{
    background: transparent;
}
.wrapper{
    width: 100%;
    text-align: center;
    margin-top: 12em;
    font-family: "Libre Franklin";
}
div.wrapper{
    animation-delay: 1s;
}
.Brand_Description{
    font-size: 20px;
}
.Brand_Name{
    font-size: 50px;
}
@keyframes slide{
    20%{
        background: url(img/16.jpg) no-repeat;
        background-size: cover;
        min-height: 1000px;

    }
    40%{
        background: url(img/17.jpg) no-repeat;
        background-size: cover;
        min-height: 1000px;

    }
    60%{
        background: url(img/18.jpg) no-repeat;
        background-size: cover;
        min-height: 1000px;

    }
    80%{
        background: url(img/19.jpg) no-repeat;
        background-size: cover;
        min-height: 1000px;

    }
    100%{
        background: url(img/20.jpg) no-repeat;
        background-size: cover;
        min-height: 1000px;

    }
}
